<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengkun.mapper.ExcelMapper">
    <insert id="insertPointList" parameterType="java.util.List">
        INSERT INTO
        insight_iec104_mapping(
            channel_id,
            iec_point,
            uuid,
            point_id,
            point_type,
            is_enable,
            point_name,
            iec_parameter,
            iec_offset,
            iec_negate
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.channelId},
            #{item.iecPoint},
            #{item.uuid},
            #{item.pointId},
            #{item.pointType},
            #{item.isEnable},
            #{item.pointName},
            #{item.iecParameter},
            #{item.iecOffset},
            #{item.iecNegate})
        </foreach>
    </insert>

    <!--查询所有，返回实体类集合-->
    <select id="findAll" resultType="InsightIec104Mapping">
        select * from insight_iec104_mapping
    </select>

    <!--查询所有，返回map集合-->
    <select id="findAllByMap" resultType="java.util.LinkedHashMap">
        select * from insight_iec104_mapping
    </select>

    <!--根据测点类型查询-->
    <select id="findAllByPointType" resultType="java.util.LinkedHashMap">
        select * from insight_iec104_mapping where point_type = #{point_type}
    </select>

    <!--根据测点类型查询, 返回实体类-->
    <select id="findAllByPointTypeEntity" resultType="InsightIec104Mapping">
        select * from insight_iec104_mapping where point_type = #{point_type}
    </select>

    <!-- 根据电站id查询设备 -->
    <select id="findDeviceByPsId" parameterType="java.util.HashMap" resultType="java.util.LinkedHashMap">
        select
        *
        from power_device where ps_id = #{ps_id}
    </select>

    <!-- 获取所有通道号 -->
    <select id="findAllChannel" parameterType="java.util.HashMap" resultType="java.util.LinkedHashMap">
        select * from power_device_chnnl
    </select>

    <!-- 根据设备类型和测点类型查询测点 -->
    <select id="findPointList" parameterType="java.util.HashMap" resultType="java.util.LinkedHashMap">
        select * from power_device_point where device_type = #{device_type} and point_type = #{point_type} order by point_id limit 5
    </select>
</mapper>